[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
pymysql = "*"
flask-weasyprint = "*"
pyzt = "*"
flask-migrate = "*"
pytz = "*"
gunicorn = "==20.1.0"

[dev-packages]
autopep8 = "*"
flask-testing = "*"

[requires]
python_version = "3.10"
