{% extends 'nav_base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/breakage.css') }}">
{% endblock %}


{% block content %}

<div class="container">
    <h1 class="title has-text-centered ml-4 mr-4">Add Breakage</h1>
    <form method="post">
        <div class="field">
            <label class="label">Apparatus ID</label>
            <div class="control">
                <div class="select">
                    <select name="apparatus_id" required>
                        <option disabled selected value="">Select an apparatus ID</option>
                        {% for apparatus, display_name in id_dname %}
                        <option value="{{ apparatus.id }}">{{ display_name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Quantity</label>
            <div class="control">
                <input class="input" type="number" placeholder="Enter the quantity" name="quantity" required>
            </div>
        </div>

        <div class="field">
            <label class="label">Roll No</label>
            <div class="control">
                <input class="input" type="text" placeholder="Enter the roll number" name="roll_no" required>
            </div>
        </div>

        <div class="field">
            <label class="label">Class</label>
            <div class="control">
                <div class="select">
                    <select name="class" required>
                        <option disabled selected value="">Select a class</option>
                        <option value="fy">FY</option>
                        <option value="sy">SY</option>
                        <option value="ty">TY</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="field">
            <label class="label">Date</label>
            <div class="control">
                <input class="input" type="date" placeholder="Enter the date." name="date"
                    required>
            </div>
        </div>

        <div class="field">
            <label class="label">Section</label>
            <div class="control">
                <input class="input" type="text" placeholder="Enter the section (default: Chemistry)" name="section"
                    value="Chemistry">
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" type="submit">Submit</button>
            </div>
            <div class="control">
                <button class="button is-text" type="reset">Reset</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}