{% extends 'nav_base.html' %}
{% block head %}
<style>
     @media print {
      .no-print {
        display: none;
      }
    }
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="columns is-vcentered is-center">
        <div class="column">
            <h1 class="title is-2 has-text-centered has-text-weight-bold">Royal College Chemistry Dept</h1>
            <h2 class="subtitle is-3 has-text-centered">Breakage Charges</h2>
            <h3 class="subtitle is-4 has-text-centered">{{ class_name }}</h3>
        </div>
    </div>
</div>
<div class="has-text-centered no-print mt-4">
    <h2>Click to print</h2>
    <a class="button is-primary is-medium is-rounded is-fixed-bottom-right" href="#"
        onclick="window.print(); return false;">
        <span class="icon">
            <i class="fas fa-print"></i>
        </span>
    </a>
</div>
<div class="container mt-6">
    <table class="table is-bordered is-striped is-hoverable is-fullwidth">
        <thead>
            <tr>
                <th>Date</th>
                <th>Roll No</th>
                <!-- <th>Class</th> -->
                <th>Apparatus</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record.date }}</td>
                <td>{{ record.roll_no }}</td>
                <!-- <td>{{ record.class_ }}</td> -->
                <td>{{ record.apparatus }}</td>
                <td>{{ record.quantity }}</td>
                <td>{{ record.price }} ₹</td>
                <td>{{ record.total_ammount }} ₹</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}