{% extends 'nav_base.html' %}

{% block head %}
<style>
    @media print {
        .no-print {
            display: none;
        }
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="columns is-vcentered is-center">
        <div class="column">
            <h1 class="title is-2 has-text-centered has-text-weight-bold">Royal College Chemistry Dept</h1>
            <h2 class="subtitle is-3 has-text-centered">Breakage Charges</h2>
            <h2 class="subtitle is-3 has-text-centered">Total Amount</h2>
            <h3 class="subtitle is-4 has-text-centered">{{ class_name }}</h3>
        </div>
    </div>
</div>
<div class="has-text-centered no-print mt-4">
    <h2 class="has-text-danger">Click to Print</h2>
    <a class="button is-primary is-medium is-rounded is-fixed-bottom-right" href="#"
        onclick="window.print(); return false;">
        <span class="icon">
            <i class="fas fa-print">Print</i>
        </span>
    </a>
</div>
<div class="container">
    <table class="table is-fullwidth is-bordered is-striped mt-5">
        <thead>
            <tr>
                <th>Roll No</th>
                <th>Total Cash</th>
            </tr>
        </thead>
        <tbody>
            {% for item in collect_money_list %}
            <tr>
                <td>{{ item.rollno }}</td>
                <td>{{ item.total_cash }} ₹</td>
            </tr>
            {% endfor %}
            <tr>
                <td><b>Total</b></td>
                <td><b>{{ total_amount_to_collect }} ₹ </b></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock %}