{% extends 'nav_base.html' %}
{% block head %}
{% endblock %}
{% block content %}
<div class="container mt-6">
    <table class="table is-bordered is-striped is-hoverable">
        <thead>
            <tr>
                <th>Date</th>
                <th>Roll No</th>
                <th>Class</th>
                <th>Section</th>
                <th>Apparatus</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total Amount</th>
            </tr>
        </thead>
        <tbody>
            {% for record in records %}
            <tr>
                <td>{{ record.date }}</td>
                <td>{{ record.roll_no }}</td>
                <td>{{ record.class_ }}</td>
                <td>{{ record.section }}</td>
                <td>{{ record.apparatus }}</td>
                <td>{{ record.quantity }}</td>
                <td>{{ record.price }}</td>
                <td>{{ record.total_ammount }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
