{% extends 'nav_base.html' %}

{% block content %}
<div class="section">
    <div class="container">
        <h1 class="title">Help</h1>

        <div class="columns">
            <div class="column is-3">
                <aside class="menu">
                    <p class="menu-label">
                        General
                    </p>
                    <ul class="menu-list">
                        <li><a href="#getting-started">Getting Started</a></li>
                        <li><a href="#faq">FAQ</a></li>
                    </ul>
                    <p class="menu-label">
                        Account
                    </p>
                    <ul class="menu-list">
                        <li><a href="#profile">Profile</a></li>
                        <li><a href="#billing">Billing</a></li>
                    </ul>
                </aside>
            </div>
            <div class="column">
                <div id="getting-started mt-2">
                    <h2 class="subtitle">Getting Started</h2>
                    <p>Welcome to our app! To get started, follow these simple steps:</p>
                    <ol>
                        <li>Create an account</li>
                        <li>Verify your email address</li>
                        <li>Set up your profile</li>
                        <li>Start using the app!</li>
                    </ol>
                </div>
                <div id="faq mt-2">
                    <h2 class="subtitle">FAQ</h2>
                    <p>Here are some common questions we get:</p>
                    <ul>
                        <li>How do I reset my password?</li>
                        <li>How do I cancel my subscription?</li>
                    </ul>
                </div>
                <div id="profile mt-2">
                    <h2 class="subtitle">Profile</h2>
                    <p>Here are some things you can do with your profile:</p>
                    <ul>
                        <li>Edit your personal information</li>
                        <li>Change your password</li>
                    </ul>
                </div>
                <div id="billing mt-2">
                    <h2 class="subtitle">Billing</h2>
                    <p>Here are some things you can do with your billing:</p>
                    <ul>
                        <li>Update your credit card information</li>
                        <li>View your payment history</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}