{% extends "nav_base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}

{% block content %}
<div class="container-items">
    <a href="">
        <div class="item">
            <p>Breakage</p>
        </div>
    </a>
        <a href="">
            <div class="item">
                <p>Print</p>
            </div>
        </a>
        <a href="">
            <div class="item">
                <p>Apparatus</p>
            </div>
        </a>
            <a href="">
                <div class="item">
                    <p>Records</p>
                </div>
            </a>
</div>
{% endblock %}