<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ChemBreak</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon-rb.png')}}" type="image/x-icon">

    <!-- CSS links -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" /> -->

    <!-- Local CSS Frameworks Files -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.css')}}">

        <style>
             .navbar-brand a img {
            width: 10rem;
            height: 10rem;
            } 
            .navbar-brand .nav-item{
                height: 12rem;
            }
            @media print {
                .no-print {
                    display: none;
                }
            }
        </style>
    {% block head %}
    {% endblock %}
</head>
<body>
    <!-- Navbar -->
    <nav class="navbar no-print" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('main.home') }}">
                <img src="{{ url_for('static', filename='logo-home.png')}}">
            </a>
    
            <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
    
        <div id="navbarBasicExample" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="{{ url_for('main.breakage') }}">
                    Breakage
                </a>
    
                <a class="navbar-item" href="{{ url_for('main.report')}}">
                    Print Report
                </a>

                <a class="navbar-item" href="{{ url_for('main.apparatus') }}">
                    Apparatus
                </a>

                <a class="navbar-item" href="{{ url_for('main.reset_and_bakup') }}">
                    Reset & Backup
                </a>
            </div>
    
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{{ url_for('auth.logout')}}">
                            <strong>Log Out</strong>
                        </a>
                        <a class="button is-light" href="{{ url_for('main.help') }}">
                            Help
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <!-- Script Links -->
</body>
</html>