{% extends 'nav_base.html' %}
{% block head %}
<style>
    @media screen and (max-width: 768px) {
        .column.is-4 {
            width: 100%;
            margin-bottom: 20px;
        }
    }   
</style>
{% endblock %}
{% block content %}
    <div class="container mt-6">
        <div class="columns is-multiline">
            <div class="column is-one-third">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">First Year</p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            View Record Report, Collect Money Report
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ url_for('main.test_class_records', class_name='fy')}}" class="card-footer-item">Records</a>
                        <a href="{{ url_for('main.getMoney', class_name='fy')}}" class="card-footer-item">Money</a>
                    </footer>
                </div>
            </div>
            <div class="column is-one-third">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">Second Year</p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            View Record Report, Collect Money Report.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ url_for('main.test_class_records', class_name='sy')}}" class="card-footer-item">Records</a>
                        <a href="{{ url_for('main.getMoney', class_name='sy')}}" class="card-footer-item">Money</a>
                    </footer>
                </div>
            </div>

            <div class="column is-one-third">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">Third Year</p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            View Record Report, Collect Money Report
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="{{ url_for('main.test_class_records', class_name='ty')}}" class="card-footer-item">Records</a>
                        <a href="{{ url_for('main.getMoney', class_name='ty')}}" class="card-footer-item">Money</a>
                    </footer>
                </div>
            </div>
        </div>
    </div>
{% endblock %}